* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: oklch(0.928 0.006 264.531);
  color: black;
  font-family: "Sono", sans-serif;
  padding: 48px 63px;
}

/* Main Layout*/
.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* write comments */
.fact-form {
  background-color: oklch(0.968 0.007 247.896);
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
}
.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}
/* ELEMENTS*/

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
  color: oklch(0.372 0.044 257.287);
  line-height: 1;
  margin-top: 6px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: oklch(0.968 0.007 247.896);
  margin-bottom: 16px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  letter-spacing: -1px;

  gap: 24px;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.vote-buttons {
  margin-left: auto;
}

ul {
  list-style: none;
}
