body {
  background-color: oklch(0.928 0.006 264.531);
}

.fact-form {
  background-color: oklch(0.968 0.007 247.896);
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
  color: #234abc;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  font-family: "Sono", sans-serif;
  color: black;
  background-color: oklch(0.968 0.007 247.896);
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  color: black;
}

ul {
  list-style: none;
}
